body {
  padding: 7vw;
  margin: 0;
  font-family: sans-serif;
  background-color: #4B5B7D;
}
div {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00B7FF;
}


.error {
  color: red;
}
